html, body {
    height: 100%;
  }


body {
    font-family: bodoni;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    background: white;
    
    /* color: #343737; */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    /* font-smoothing: antialiased; */
    line-height: 1.5;
}

/* #sign {
    margin: 0;
    padding: 0;
}

#message {
    margin: 0;
    padding: 0;
} */

h1.title{
    font-size: 48px;
    color:black;
    text-align: center;
    position: center;
    left: 15px;
    top: 15px;
    /* margin: 0;
    padding: 0; */
    
}
#horo-button{
    border-radius: 50px;
    padding: 10px 10px;
    background-color:  rgb(252, 142, 123);
    color:black;
}

#login-button{
    border-radius: 50px;
    padding: 10px 10px;
    background-color:  rgb(252, 142, 123);
    color:black;
}

.submit{
    border-radius: 50px;
    padding: 10px 10px;
    background-color:  rgb(252, 142, 123);
    color:black;
}

#sign-up:hover{
    color: rgb(252, 142, 123);
}

#login:hover{
    color: rgb(252, 142, 123);
}

#horoscope-header {
    display: flex;
    justify-content: center;
    background: white;
    border: white solid 1px;
    opacity: .9;
    height: 16rem;
    box-shadow: 15px 10px 5px black;
    /* border-radius: 15px; */
    /* padding: 3rem; */
  }

  .add-horo-form{
    margin: 7rem
  }

  .card {
    justify-content: center;
    text-align: center;
    background:  white;
    /* border-radius: 50%; */
    color: black;
    border: rgb(252, 142, 123) .5rem solid;
    box-sizing: border-box;
    /* padding: 1rem; */
    width: 35rem;
    height: 35rem;
    display: inline-grid;
    margin: -7rem 2rem;
    box-shadow: 15px 10px 10px black;
    /* box-shadow: 3px 4px rgb(250, 210, 110); */
    display: block;
    margin-left: auto;
    margin-right: auto; 
    animation: fadeInAnimation ease 5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    /* margin: -30;  */
    /* padding: 0;  */
  }
  @keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.add-horo-form{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#written-horoscope:hover {
  color: rgb(252, 142, 123);
} 

.card2{
    text-align: center;
    background:  white;
    color: black;
    border: rgb(252, 142, 123) .5rem solid;
    box-sizing: border-box;
    width: 20rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 15px 10px 10px black;
    animation: fadeInAnimation ease 5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -25px;
}

#p{
  font-size:17px;
}

.btn-group button {
  background-color: rgb(252, 142, 123); /* Green background */
  width: 55px;
  display: block;
  border-radius: 50px; 
  /* border: 1px solid green; Green border */
  color: black; /* White text */
  padding: 4px 4px; 
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: white;
}

/* .horo-btn:after{
  content: “”;
  clear: both;
  display:inline-block;
  
}

.horo-btn{ */
  /* border-radius: 50px; 
  padding: 10px 10px;  */
  /* width: 55px;
  background-color:  rgb(252, 142, 123);
  color:black;
} */




/* .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: rgb(252, 142, 123);
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: black;
    color: white;
  }
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } */