body {
    font-family: khand,sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    background: #f3f3e0;
    color: #343737;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    line-height: 1.5;
}